<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devs>
    <Dev>
      <DevName>MelsecPLC</DevName>
      <Groups>
        <Group>
          <GroupName>Steam</GroupName>
          <Tags>
            <Tag>
              <TagName>Temperature</TagName>
              <DeviceAddress>D8000</DeviceAddress>
              <Enable>false</Enable>
            </Tag>
            <Tag>
              <TagName>Pressure</TagName>
              <DeviceAddress>D9000</DeviceAddress>
              <Enable>false</Enable>
            </Tag>
          </Tags>
        </Group>
        <Group>
          <GroupName>Valve</GroupName>
          <Tags>
            <Tag>
              <TagName>GFat</TagName>
              <DeviceAddress>D4000</DeviceAddress>
              <Enable>false</Enable>
            </Tag>
            <Tag>
              <TagName>GFatHand</TagName>
              <DeviceAddress>D5000</DeviceAddress>
              <Enable>false</Enable>
            </Tag>
          </Tags>
        </Group>
      </Groups>
    </Dev>
    <Dev>
      <DevName>OmronPLC</DevName>
      <Groups>
        <Group>
          <GroupName>WOW</GroupName>
          <Tags>
            <Tag>
              <TagName>Illidan</TagName>
              <DeviceAddress>D4546</DeviceAddress>
              <Enable>false</Enable>
            </Tag>
            <Tag>
              <TagName>Jaina</TagName>
              <DeviceAddress>D8989</DeviceAddress>
              <Enable>false</Enable>
            </Tag>
          </Tags>
        </Group>
        <Group>
          <GroupName>HOTS</GroupName>
          <Tags>
            <Tag>
              <TagName>Arthus</TagName>
              <DeviceAddress>D6767</DeviceAddress>
              <Enable>false</Enable>
            </Tag>
            <Tag>
              <TagName>Ratter</TagName>
              <DeviceAddress>D2323</DeviceAddress>
              <Enable>false</Enable>
            </Tag>
          </Tags>
        </Group>
      </Groups>
    </Dev>
  </Devs>
</Config>