<?xml version="1.0" encoding="utf-16"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devs>
    <Dev DevName="MelsecPLC">
      <Groups>
        <Group GroupName="Steam">
          <Tags>
            <Tag TagName="Temperature" DeviceAddress="D8000" Enable="false" />
            <Tag TagName="Pressure" DeviceAddress="D9000" Enable="false" />
          </Tags>
        </Group>
        <Group GroupName="Valve">
          <Tags>
            <Tag TagName="GFat" DeviceAddress="D4000" Enable="false" />
            <Tag TagName="GFatHand" DeviceAddress="D5000" Enable="false" />
          </Tags>
        </Group>
      </Groups>
    </Dev>
    <Dev DevName="OmronPLC">
      <Groups>
        <Group GroupName="WOW">
          <Tags>
            <Tag TagName="Illidan" DeviceAddress="D4546" Enable="false" />
            <Tag TagName="Jaina" DeviceAddress="D8989" Enable="false" />
          </Tags>
        </Group>
        <Group GroupName="HOTS">
          <Tags>
            <Tag TagName="Arthus" DeviceAddress="D6767" Enable="false" />
            <Tag TagName="Ratter" DeviceAddress="D2323" Enable="false" />
          </Tags>
        </Group>
      </Groups>
    </Dev>
  </Devs>
</Config>